<!doctype html>
<html lang="en">
  <head>
	<title>Iteration_studio</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS v5.2.0-beta1 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link href="/static/css/template.css" rel="stylesheet">
  </head>
  <body class="body">
	<nav class="navbar nav navbar-expand-lg bg-light m-4 fixed-top" id="navbar">
        <div class="container-fluid font-size">
            <img src="/static/logo.png" width="70px" class="me-1 logo">
            <img src="/static/Iteration.png" width="300px" class="d-inline-block align-text-top  logo-word me-md-5 ms-2"  >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle me-2 ms-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <ion-icon name="people-outline"></ion-icon>
                          關於團隊
                        </a>
                        <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#team">團隊介紹</a></li>
                          <li><a class="dropdown-item" href="#history">團隊歷程</a></li>
                          <li><a class="dropdown-item" href="#member">團隊組成</a></li>
                        </ul>
                      </li>
        
                      <li class="nav-item">
                        <a class="nav-link me-2 ms-2" href="/join.html">
                          <ion-icon name="person-add-outline"></ion-icon>
                          加入我們
                        </a>
                      </li>
        
                      <li class="nav-item">
                        <a class="nav-link me-2 ms-2" href="#contact">
                          <ion-icon name="chatbox-outline"></ion-icon>
                          聯絡我們
                        </a>
                      </li>
                    </ul>
                    <a class="btn btn-outline-success me-md-4" href="/login.html">登入/註冊</a>
                    </form>
                  </div>
                </div>
              </nav>
            <div class="rol background" style="height:100vh;">
                <img src="/static/word.png" class="word">
                <img src="/static/slogan.png" class="slogan ms-4  ">
            </div>
            <div class="row justify-content-center border" style="height:700px;" id="team">
                <div class="col-md-4 col-10 me-md-5">
                     <h2 class="mt-5"style="color:#2f5faf">團隊介紹</h2>
                     <h1 class="text-black mt-2">等待有人打介紹</h1>
                     <h5 class="text-black"> 我們都有個共識，若問題很困難，那就勢必不好解決。可是，即使是這樣，團隊的出現仍然代表了一定的意義。每個人都不得不面對這些問題。在面對這種問題時，務必詳細考慮團隊的各種可能。這種事實對本人來說意義重大，相信對這個世界也是有一定意義的。生活中，若團隊出現了，我們就不得不考慮它出現了的事實。培根曾講過，世上友誼本罕見，平等友情更難求。這讓我對於看待這個問題的方法有了巨大的改變。就我個人來說，團隊對我的意義，不能不說非常重大。我們一般認為，抓住了問題的關鍵，其他一切則會迎刃而解。</h5>
                     <a href="https://www.facebook.com/IterationStudio2022"><img src="/static/facebook.png" alt="fb" class="mt-3" style="height:2%;"></a>
                     <a href="https://www.instagram.com/iteration_2022/"><img src="/static/instagram.png" alt="ig" class="mt-3" style="height:2%;"></a>
                     <a href="https://www.youtube.com/channel/UCwgVuIGkh3cE-r79nxHVNgA/"><img src="/static/youtube.png" alt="youtube" class="mt-3 ms-2" style="height:2%;"></a>
                </div>
                <div class="col-md-4 col-12  ms-md-5" style="height:450px;">
                    <img src="/static/logo.png" alt="logo" class="p-3 logo-2" style="max-height:100%;">
                </div>
            </div>
            <div class="row border justify-content-center pb-5" style="max-height:1000px;background-color:#2f5faf;" id="history">
                <div class="col-9 ">
                    <h2 class="mt-5" style="color:gold ;">團隊歷程</h2>
                    <h1 class="text-white mt-2">飲水機專案</h1>
                    <div class="card mb-3 mt-3" style="border-radius:1rem;">
                        <img src="/static/water.png" class="card-img-top" alt="water" style="border-radius:1rem;" >
                        <div class="card-body">
                            <h5 class="card-title">飲水機專案</h5>
                            <p class="card-text">這是一套客戶管理系統</p>
                            <p class="card-text"><small class="text-muted">感謝鑫沅淨水合作</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 justify-content-center" id="member">
                <div class="col-6 mb-5">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="background-color:#2f5faf;">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/member.png" class="d-block w-100" alt="..." style="max-height:702px;max-width:700px;">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/member.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/member.png" class="d-block w-100" alt="...">
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar bg-light mx-4 justify-content-center" style="margin-top:10rem;" id="contact">
                <div class="col-12 text-center">
                    <a href="https://www.youtube.com/channel/UCwgVuIGkh3cE-r79nxHVNgA/" class="icon"><ion-icon name="logo-youtube" class="icon"></ion-icon></a>
                    <a href="https://www.facebook.com/IterationStudio2022" class="icon"><ion-icon name="logo-facebook" class="icon ms-2"></ion-icon></a>
                    <a href="https://www.instagram.com/iteration_2022/" class="icon"><ion-icon name="logo-instagram" class="icon ms-2"></ion-icon></a>
                    <a href="mailto:iterationstudio2022@gmail.com" class="icon"><h5>iterationstudio2022@gmail.com</h5>
                </div>
              </nav>


		</div>
	<!-- Bootstrap JavaScript Libraries -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar").style.top = "0";
      } else {
        document.getElementById("navbar").style.top = "-150px";
      }
      prevScrollpos = currentScrollPos;
    } 
  </script>
  </body>
</html>