<!doctype html>
<html lang="en">

<head>
    <title>加入我們</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/template.css">

</head>

<body class="body3">
    <div class="container justify-content-center" style="height:110vh ;">
        <div class="row m-3">
            <a href="/index.html" style="text-decoration:none;"><h5 class="topic">Iteration</h5>
        </div>
        <div class="row justify-content-center border2 mx-auto pt-5 mt-4">
            <h5 class="topic text-center mt-5">加入我們</h3>
            <form action="/signup">
                <label for="name" class="form-label text-white ms-4">姓名</label>
                    <div class="mx-4">
                        <input type="text" class="form-control input2" id="name">
                    </div>
                <label for="email" class="form-label text-white ms-4">電子郵件</label>
                    <div class="mx-4">
                        <input type="text" class="form-control input2" id="email">
                    </div>
                <label for="phone" class="form-label text-white ms-4">聯絡電話</label>
                    <div class="mx-4">
                        <input type="text" class="form-control input2" id="phone">
                    </div>
                <label for="expect" class="form-label text-white ms-4">對團隊的期待</label>
                    <div class="mx-4">
                        <input type="text" class="form-control input2" id="expect">
                    </div>
                <label for="job" class="form-label text-white ms-4">進入團隊後想做什麼</label>
                    <div class="mx-4">
                        <input type="text" class="form-control input2" id="job">
                    </div>
                
                <button type="submit" class="submit mt-4 mb-5  " >送出 </button>
            </form>
            
        </div>
        <nav class="navbar bg-light  justify-content-center mt-5"  id="contact">
            <div class="col-12 text-center">
                <a href="https://www.youtube.com/channel/UCwgVuIGkh3cE-r79nxHVNgA/" class="icon"><ion-icon name="logo-youtube" class="icon"></ion-icon></a>
                <a href="https://www.facebook.com/IterationStudio2022" class="icon"><ion-icon name="logo-facebook" class="icon ms-2"></ion-icon></a>
                <a href="https://www.instagram.com/iteration_2022/" class="icon"><ion-icon name="logo-instagram" class="icon ms-2"></ion-icon></a>
                <a href="mailto:iterationstudio2022@gmail.com" class="icon"><h5>iterationstudio2022@gmail.com</h5>
            </div>
        </nav>
    </div>


    <!-- Bootstrap JavaScript Libraries -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>