/* 導入字體 */
@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
body{
    font-family: 'cwTeXYen', sans-serif;
}

/* index-body */
.body{
 background-color: #2f5faf;

}

/* index-nav */
.nav-top{
    border-radius: 2rem!important;
    font-size:25px !important;
}

.nav-down{
  font-size:25px !important;
  margin-left: -10px;
  margin-right: -10px;
}

/* index-background */
.background{
    background-image: url('/static/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* index-border */
.border{
    background-color: white;
}

.icon-team{
  color: black;
  font-size: 45px;
  margin: .4rem;
  transition: .5s;
}
.icon-team:hover{
    color: #2f5faf !important;;
}

.icon{
    color:black;
    text-decoration: none;
}

.icon:hover{
    color: #2f5faf;
}

/* input-label */
.label{
    font-size:18px !important;
    font-weight:700;
}



/* .wrapper{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  a#button{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a#button span{
    position: relative;
    z-index: 1;
  }
  
  a#button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: gold;
    transition: all .35s;
  }
  
  a#button:hover{
    color: #fff;
  }
  
  a#button:hover:after{
    width: 100%;
  }
  
   */

/* cellphone */
@media screen and (max-width:1000px) { 
    .head-padding{
      padding-left: 4rem; 
    }

    .logo-word{
        width: 200px;

    }
    /* .logo{
        display: none !important;
    } */
    .logo-2{
        display: none !important;
    }
    .word{
        height:200px;
        margin-top: 100px;
    }

    .slogan{
        height: 30px;
    }

    .font-size{
        font-size:25px !important;
        font-weight: 900;
    }

    
    

  }

/* computer */
@media screen and (min-width:1000px) {
  .head-padding{
    padding-left: 15rem; 
  }

  .word{
        height:400px;
        margin-top: 125px;
        margin-left: 80px;
    }

    .slogan{
        height:100px;
    }

    .member{
        max-height:702px;
        max-width:700px;
    }

    .font-size{
        font-size:23px !important;
        font-weight: 900;
    }

    .time-line{
      width: 9rem;
      height: 1rem;
      background-color: red;
      font-size: 500px;
    }
    
}



.body2{
    background-color: #2f5faf;
}

.middle-board{
    max-width: 350px;
    min-height: 500px;
    border-radius: 0.5rem;
    background-color: black;
    border-top: 15px solid black;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);

}

.input1 {
    color: white !important;
    background-color: rgb(41, 42, 54) !important;
    border-style: none !important;
    height:55px;
  }

#style{
    border-radius: 5px;
    color: gray;
}

.submit{
    border-radius: 0.5rem;
    width:230px;
    color:white;
    background-color: #2f5faf;
}


.h6{
    text-decoration: none;
    color:darkgray
}
.h6:hover{
    text-decoration: none;
    color:white;
    font-size:17px;
}

.body3{
    background-color:  #2f5faf;
  }
  
  .topic{
    font-size: xx-large;
    color: white;
  }
  .border2{
    border-style: none !important;
    background-color: black;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  
  .input2{
    color: white !important;
    background-color: rgb(41, 42, 54) !important;
    border-style: none !important;
    height:55px;
  }
  
  .submit{
    border-radius: 0.25rem;
    border-style: none !important;
    min-width: 280px;
    width: 100%;
    height: 50px;
    background-color:rgb(56, 118, 234);
  }
  
  .submit:hover{
    background-color: rgb(53, 109, 222);
  }
  body{
    background-color: #2f5faf;
}

.blue-block{
    width: 800px;
    height: 250px;
    background-color: #2f5faf;
    position: absolute;
    z-index: 3;
    animation-name: block;
    animation-duration: 2.5s;
}

@keyframes block{
  50%{opacity: 0;}
}

.png{
  position: absolute;
  z-index: 1;
}
